@media screen and (max-width: 490px) {
    main {
        width: 290px;
        padding: 40px 10px 80px;
    }

    h1,h2 {
        font-size: 32px;
    }

    p {
        font-size: 15px;
    }

    .passwords-el > button {
        width: 125px;
        font-size: 12px;
        padding: 10px 5px;
        margin-right: 10px;
    }   
}